footer {
  height: 100%;
  width: 100%;
  background: #000;
  color: var(--color-background);
  position: relative;
  background-image: linear-gradient(
    300deg,
    var(--color-text) 30%,
    var(--color-primary)
  );
}

