@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

@theme {
  --color-background: #F3F4F6;
  --color-bg-secondary: #3B82F6;
  --color-primary: #1E3A8A;
  --color-text: #111827;
  --default-font-family : 'Roboto', 'Poppins';
}

@layer {
  .cover {
    @apply h-full w-full;
  }
  .auto-cover {
    @apply h-auto w-full;
  }
  .padding-auto {
    @apply px-4 sm:px-8 md:px-12 lg:px-18;
  }
  .nav-links {
    @apply text-[1.1rem] font-semibold md:text-[18px] text-background cursor-pointer;
  }  
  .heading-1 {
    @apply text-2xl font-bold py-3 sm:text-3xl md:text-4xl;
  }
}
